<%- include('partials/header') %>

<div class="qr-container">
    <h2>Your QR Code:</h2>
    <img src="<%= qr_code %>" alt="QR Code">
    <a href="<%= qr_code %>" download="QRCode.png">Download QR Code</a>
    <a href="/">Generate another QR Code</a>
</div>

<%- include('partials/footer') %>
